/* =====================================================
   HERO
===================================================== */

.hero {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: min(100vh, 115vw);

  overflow: hidden;

  color: var(--white-text-color);
  text-align: center;
}

/* =====================================================
   HERO LAYERS
===================================================== */

.hero-layer {
  position: absolute;
  inset: 0;

  overflow: hidden;
  pointer-events: none;
}

.hero-layer img {
  position: absolute;

  left: 50%;
  bottom: 0;

  transform: translate(-50%, var(--base-y));

  width: max(100vw, 100%);
  height: auto;

  min-height: 100%;

  max-width: none;

  object-fit: contain;

  will-change: transform;
}

/* ---------- Слои ---------- */

.layer-1 {
  z-index: -3;

  img {
    --base-y: 15%;
  }
}

.layer-2 {
  z-index: -4;

  img {
    --base-y: 28%;
  }
}

.layer-3 {
  z-index: -5;

  img {
    --base-y: 28%;
  }
}

.layer-4 {
  z-index: -6;

  filter: blur(1px);

  img {
    --base-y: 40%;
  }
}

.layer-1 img {
  --speed: 6;
}

.layer-2 img {
  --speed: 10;
}

.layer-3 img {
  --speed: 15;
}

.layer-4 img {
  --speed: 20;
}

/* =====================================================
   OVERLAY
===================================================== */

.hero-overlay {
  position: absolute;
  inset: 0;

  background: rgb(0 0 0 / 0.35);

  z-index: -2;
}

/* =====================================================
   CONTENT
===================================================== */

.hero-content {
  position: relative;
  z-index: 5;

  max-width: 900px;
  padding: 20px;

  h1 {
    margin-bottom: 20px;
    font-size: 4rem;
  }

  p {
    margin-bottom: 35px;
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  .layer-1 img {
    --base-y: 0%;
  }
  .layer-2 img {
    --base-y: 10%;
  }
  .layer-3 img {
    --base-y: 10%;
  }
  .layer-4 img {
    --base-y: 20%;
  }
}
